---
import Layout from "../layouts/Layout.astro";
 import ProjectsGrid from "../components/react/projects/ProjectsGrid";
---

<Layout>

<section class="min-h-screen py-10 px-5">

    <div class="max-w-6xl mx-auto">

        <div class="mb-10">
            <p class="text-red-400 font-bold tracking-widest text-sm uppercase mb-3">
                Mis Proyectos
            </p>

            <h1 class="text-4xl md:text-5xl font-black mb-6">
                Proyectos en los que he trabajado
            </h1>

            <p class="text-lg text-gray-500 leading-relaxed whitespace-pre-line max-w-4xl text-justify">
                Desde que inicié la carrera de Ingeniería de Software he desarrollado proyectos de distinta naturaleza, desde aplicaciones creadas en el ámbito universitario y de emprendimiento, hasta sistemas empresariales utilizados por organizaciones en sus operaciones diarias. Esta combinación de experiencias me ha permitido conocer diferentes etapas del desarrollo de software y adaptarme a distintos tipos de retos.
                
                A lo largo de estos proyectos he fortalecido mis conocimientos en desarrollo full stack, bases de datos, arquitectura de software, integración de APIs, despliegue de aplicaciones y mantenimiento de sistemas en producción, siempre con el objetivo de construir soluciones útiles, escalables y fáciles de mantener.

            </p>
        </div>

        <ProjectsGrid client:load />

    </div>

</section>

</Layout>