---
const YEAR = new Date().getFullYear();
---

<footer class="bg-white/80 dark:bg-gray-900/80 backdrop-blur-md border-t border-gray-200 dark:border-gray-800 text-center p-4 text-sm text-gray-500 dark:text-gray-400">
    <p data-i18n="footer.copyright"> Henry Enoch Francisco Vázquez © {YEAR} </p>
</footer>
